.searchBar {
    margin: 2px;
}

.searchBar input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.resultContainer {
    & a {
        text-decoration: none;
        color: blue;
    }
}

.result {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #eee;
    cursor: pointer;
}

.result:hover {
    background-color: #f2f2f2;
}

.pagination button {
    display: inline-block;
    background-color: var(--background-color-button);
    border: 2px solid var(--background-color-button);
    border-radius: 5px;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color-button-hover);
    }
    &:disabled {
        background-color: var(--background-color-button-disabled);
        border: none;
        color: #666666;
        cursor: not-allowed;
    }
}

.page {
    display: inline-block;
    margin: 0 5px;
}