.header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    margin: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.releaseYear {
    font-size: 1rem;
    font-weight: bold;
}

.overview {
    margin: 1rem;
    text-align: justify;
}

.buttonContainer a {
    color: white;
    text-decoration: none;
}

.button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #679d69;
    border: 2px solid #679d69;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        background-color: #5dbb62;
    }
}